body {
  margin: 0;
  padding: 0;
  display: flex;
}

#navbar {
  height: 30px;
  width: 100%;
  position: fixed;
}

#video {
  padding: 50px;
  padding-top: 100px;
}

#video-info {
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
}

#video-thumbnail {
  height: 188px;
  width: 336px;
  padding: 10px;
}

svg {
  fill: gray;
}

#suggestion {
  display: flex;
  padding: 20px;
}

#suggestion-text {
  display: flex;
  flex-direction: column;
}

#svg {
  width: 40px;
  height: 40px;
}

#sidebar {
  padding: 50px;
  height: 100%;
  width: 25%;
  margin-left: 0;
  margin-top: 0;
}

#likes,
#dislikes,
#share {
  display: flex;
}

#likes-svg {
  padding-left: 20px;
  margin-right: 20px;
}
#dislike-svg {
  padding-left: 10px;
  margin-left: 2px;
}
#share-svg {
  padding-left: 0px;
  margin-left: 2px;
}
